.list-item {
  cursor: pointer;
  width: 300px;
  padding: 12px;
  border-radius: 10px;
  text-align: justify;
  margin: 3px;
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  transition: 0.5s ease all;
  overflow: hidden;
}

.list-item:hover {
  box-shadow: #eee 0px 0px 0px 0px;
  transition: 0.5s ease all;
}

.list-item-question {
  width: 100%;
  color: #2a9d8f;
  font-size: 12px;
  font-weight: bold;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  overflow-wrap: anywhere;
}

.list-item-question b {
  color: #e76f51;
}

.list-item-answer {
  color: #e76f51;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  border-radius: 3px;
  word-break: break-all;
  white-space: break-spaces;
  margin-top: 10px;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  overflow-wrap: anywhere;
}
